:root {
  --color-fon: #F4F2FF;
  --color-lilac: #6D5BD0;
  --color-grey: #6E6893;
  --color-bord: #C6C2DE;
  --color-white: #FFFFFF;
  --color-light-grey: #C5C5C5;
  --color-fon-crm: #F2F0F9;
  --color-bord-td: #D9D5EC;
  --color-text: #25213B;
}
